@model IEnumerable<LuisCorreiaOsteopata.WEB.Models.AppointmentViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a href="#" class="sortable" data-sort="Date"><span>Data</span> <i class="sort-icon"></i></a></th>
            <th><a href="#" class="sortable" data-sort="Patient"><span>Paciente</span> <i class="sort-icon"></i></a></th>
            <th><a href="#" class="sortable" data-sort="Staff"><span>Colaborador</span> <i class="sort-icon"></i></a></th>
            <th><a href="#" class="sortable" data-sort="Status"><span>Estado</span> <i class="sort-icon"></i></a></th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.AppointmentDate.ToString("dd/MM/yyyy")</td>
                <td>@appointment.PatientName</td>
                <td>@appointment.StaffName</td>
                <td>@appointment.AppointmentStatus</td>
                <td>
                    <a asp-action="Details" asp-route-id="@appointment.Id" class="btn-link">
                        Ver Detalhes
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>