@using System.Security.Claims
@model LuisCorreiaOsteopata.WEB.Models.AppointmentViewModel

@{
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    bool isAppointmentStaff = currentUserId == Model.StaffUserId;
}

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
@section MainMenu
{
    <partial name="_Menu"></partial>
}

<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h3>Detalhes da Consulta</h3>
            <div class="thm-breadcrumb__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a asp-controller="Account" asp-action="Index">Home</a></li>
                    <li><span class="icon-arrow-left"></span></li>
                    <li>Detalhes Consulta</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="appoinment-page mt-0" id="appointment-details-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-7">
                <div class="appoinment-page__left">
                    <h3 class="appoinment-page__title">Detalhes da Consulta</h3>
                    <div class="row">
                        <div class="form-group row">
                            <div class="col-auto">
                                <label style="font-size: 1.2rem" class="col-auto col-form-label pe-1"><strong>Data da Consulta:</strong> @Model.AppointmentDate.ToShortDateString()</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label style="font-size: 1.2rem" class="col-auto col-form-label pe-1"><strong>Paciente:</strong> @Model.PatientName</label>
                            <label style="font-size: 1.2rem" class="col-auto col-form-label pe-1"><strong>Profissional:</strong> @Model.StaffName</label>
                        </div>

                        <div class="form-group row">
                            <label style="font-size: 1.2rem" class="col-auto col-form-label pe-1"><strong>Inícia:</strong> @Model.StartTime.ToString("HH\\hmm")</label>
                            <label style="font-size: 1.2rem" class="col-auto col-form-label pe-1"><strong>Termina:</strong> @Model.EndTime.ToString("HH\\hmm")</label>
                        </div>

                        <div class="form-group row">
                            <label style="font-size: 1.2rem" class="col-auto col-form-label pe-1"><strong>Estado da Consulta:</strong> @Model.AppointmentStatus</label>
                            <label style="font-size: 1.2rem" class="col-auto col-form-label pe-1">
                                <strong>Estado de Pagamento:</strong>
                                @if (@Model.IsPaid)
                                {
                                    @:Pago
                                }
                                else
                                {
                                    @:Não pago
                                }
                            </label>
                        </div>

                        <div class="form-group row mt-2">
                            <section class="product-description">
                                <div class="container">
                                    <div class="product-details__description">
                                        <div class="product-details__main-tab-box tabs-box">
                                            <ul class="tab-buttons clearfix list-unstyled">
                                                <li data-tab="#description" class="tab-btn active-btn"><span>Notas do Paciente</span></li>
                                                <li data-tab="#additional-information" class="tab-btn"><span>Notas do Profissional</span></li>
                                            </ul>
                                            <div class="tabs-content">
                                                <!--tab-->
                                                <div class="tab active-tab" id="description">
                                                    <div class="product-details__tab-content-inner">
                                                        <div class="product-details__description-content">
                                                            <p class="product-details__description-text-1">
                                                                @Html.Raw(Model.PatientNotes)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--tab-->
                                                <div class="tab " id="additional-information">
                                                    <div class="product-details__tab-content-inner">
                                                        <div class="product-details__additional-information-content">
                                                            <p class="product-details__additional-information-text-1">
                                                                @Html.Raw(Model.StaffNotes)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>


                        @if (isAppointmentStaff)
                        {
                            <form class="appoinment-page__form" method="post">
                                <div class="form-group">
                                    <div class="appoinment-page__input-box text-message-box">
                                        <div id="quill-editor" style=""></div>
                                        <input type="hidden" asp-for="StaffNotes" id="Notes" />
                                    </div>
                                </div>
                            </form>
                        }
                        @if (Model.AppointmentStatus != "Realizada")
                        {
                            <div class="form-group row">
                                <div class="col-auto">
                                    <form class="appoinment-page__form" asp-action="Delete" method="post">
                                        <div class="appoinment-page__btn-box mt-5">
                                            <input type="hidden" name="id" value="@Model.Id" />
                                            <button type="submit" class="cancel-btn">
                                                Desmarcar<span class="fa fa-trash"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-auto">
                                    <form class="appoinment-page__form" asp-action="Edit" asp-route-id="@Model.Id" method="get">
                                        <div class="appoinment-page__btn-box mt-5">
                                            <input type="hidden" name="id" value="@Model.Id" />
                                            <button type="submit" class="thm-btn">
                                                Alterar<span class="fa fa-pen"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript">
        const toolbarOptions = [
            ['bold', 'italic', 'underline'],
            ['link'],
            ['clean'],
         ];

         const quill = new Quill('#quill-editor', {
            theme: 'snow',
            placeholder: 'Notas para o paciente...',
            modules: {
                toolbar: toolbarOptions
            }
        });

        // Sync Quill content into hidden input before form submit
        $('form').on('submit', function ()
        {
            $('#Notes').val(quill.root.innerHTML);
        });

        document.addEventListener("DOMContentLoaded", function ()
        {
            const appointmentDetailsSection = document.getElementById("appointment-details-section");
            if (appointmentDetailsSection)
            {
                appointmentDetailsSection.scrollIntoView({ behavior: "smooth" });
            }
        });

    </script>
}
