@model IEnumerable<LuisCorreiaOsteopata.WEB.Data.Entities.Product>

@{
    ViewData["Title"] = "ViewProducts";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section MainMenu
{
    <partial name="_Menu"></partial>
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(~/assets/images/backgrounds/page-header-bg.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h3>Produtos</h3>
            <div class="thm-breadcrumb__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span class="icon-arrow-left"></span></li>
                    <li>Produtos</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Product Start-->
<section class="product">
    <div class="container">
        <div class="row">


            <div class="col-xl-9 col-lg-12">
                <div class="product__items">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="product__showing-result">
                                <div class="product__showing-text-box">
                                    <p class="product__showing-text">Showing 1–12/14 of 14 results</p>
                                </div>
                                <div class="product__showing-sort">
                                    <div class="select-box">
                                        <select class="wide">
                                            <option data-display="Sort by popular">Sort by popular</option>
                                            <option value="1">Sort by popular</option>
                                            <option value="2">Sort by Price</option>
                                            <option value="3">Sort by Ratings</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product__all">
                        <div class="product__all-tab">
                            <div class="product__all-tab-button">
                                <ul class="tabs-button-box clearfix">
                                    <li data-tab="#grid" class="tab-btn-item active-btn-item">
                                        <div class="product__all-tab-button-icon one">
                                            <i class="fa fa-solid fa-bars"></i>
                                        </div>
                                    </li>
                                    <li data-tab="#list" class="tab-btn-item">
                                        <div class="product__all-tab-button-icon">
                                            <i class="fa fa-solid fa-list-ul"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--Start Tabs Content Box-->
                            <div class="tabs-content-box">
                                <!--Start Tab-->
                                <div class="tab-content-box-item tab-content-box-item-active" id="grid">
                                    <div class="product__all-tab-content-box-item">
                                        <div class="product__all-tab-single">
                                            <div class="row">

                                                <!--Product All Single Start-->
                                                @foreach (var product in Model)
                                                {
                                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                                        <div class="single-product-style1">
                                                            <div class="single-product-style1__img">
                                                                <img src="@product.ImageFullPath" alt="@product.Name" />
                                                                <img src="@product.ImageFullPath" alt="@product.Name" />

                                                                @* Example: show discount or “New” badge dynamically *@
                                                                <ul class="single-product-style1__overlay">
                                                                    @if (product.LastPurchase.HasValue && (DateTime.Now - product.LastPurchase.Value).TotalDays < 30)
                                                                    {
                                                                        <li><p>New</p></li>
                                                                    }
                                                                    else if (product.Price < 30)
                                                                    {
                                                                        <li><p>5% Off</p></li>
                                                                    }
                                                                </ul>

                                                                <ul class="single-product-style1__info">
                                                                    <li>
                                                                        <a href="#" title="Add to Wishlist">
                                                                            <i class="fa fa-regular fa-heart"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a asp-controller="Orders" asp-action="AddProduct" asp-route-id="@product.Id" title="Add to Cart">
                                                                            <i class="fa fa-solid fa-cart-plus"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" title="Quick View">
                                                                            <i class="fa fa-regular fa-eye"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" title="Compare">
                                                                            <i class="fa fa-solid fa-repeat"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="single-product-style1__content">
                                                                <div class="single-product-style1__content-left">
                                                                    <h4>
                                                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                                                            @product.Name
                                                                        </a>
                                                                    </h4>
                                                                    <p>@product.Price.ToString("C2")</p>
                                                                </div>

                                                                <div class="single-product-style1__content-right">
                                                                    <div class="single-product-style1__review">
                                                                        <i class="fa fa-star"></i>
                                                                        <p>@((new Random().NextDouble() * 1 + 4).ToString("0.0"))</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-content-box-item" id="list">
                                    <div class="product__all-tab-content-box-item">
                                        <div class="product__all-tab-single">
                                            <div class="row">
                                                @foreach (var product in Model)
                                                {
                                                    <div class="col-xl-6 col-lg-6">
                                                        <div class="single-product-style2">
                                                            <div class="row">
                                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                                    <div class="single-product-style2__img">
                                                                        <img src="@product.ImageFullPath" alt="@product.Name" />
                                                                        <img src="@product.ImageFullPath" alt="@product.Name" />

                                                                        <ul class="single-product-style1__overlay">
                                                                            @if (product.IsAvailable)
                                                                            {
                                                                                <li><p>New</p></li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li><p>Sold Out</p></li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                                    <div class="single-product-style2__content">
                                                                        <div class="single-product-style2__review">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="single-product-style2__text">
                                                                            <h4>
                                                                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                                                                    @product.Name
                                                                                </a>
                                                                            </h4>
                                                                            <p>@product.Price.ToString("C2")</p>
                                                                        </div>
                                                                        <ul class="single-product-style2__info">
                                                                            <li>
                                                                                <a href="#" title="Add to Wishlist"><i class="fa fa-regular fa-heart"></i></a>
                                                                            </li>
                                                                            <li>
                                                                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" title="Add to cart">
                                                                                    <i class="fa fa-solid fa-cart-plus"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" title="Quick View">
                                                                                    <i class="fa fa-regular fa-eye"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#" title="Compare"><i class="fa fa-solid fa-repeat"></i></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Tab-->

                        </div>
                        <!--End Tabs Content Box-->

                        <ul class="styled-pagination text-center clearfix list-unstyled">
                            <li class="arrow prev active">
                                <a href="#">
                                    <span class="icon-left-arrow"></span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="arrow next">
                                <a href="#">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>


            <div class="col-xl-3 col-lg-12">
                <div class="product__sidebar">
                    <div class="shop-search product__sidebar-single">
                        <form action="#">
                            <input type="text" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="product__price-ranger product__sidebar-single">
                        <h3 class="product__sidebar-title">Price</h3>
                        <div class="price-ranger">
                            <div id="slider-range"></div>
                            <div class="ranger-min-max-block">
                                <input type="text" readonly class="min">
                                <span>-</span>
                                <input type="text" readonly class="max">
                                <input type="submit" value="Filter">
                            </div>
                        </div>
                    </div>                                                     

                    <!--Start Products Style1 Single Sidear -->
                    <div class="shop-product-tags product__sidebar-single style">
                        <h3 class="product__sidebar-title">Reviews</h3>
                        <div class="sidebar-rating-box sidebar-rating-box--style2">
                            <ul>
                                <li>
                                    <input type="radio" id="fivestar" name="rating" checked="checked">
                                    <label for="fivestar">
                                        <i></i>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="fourstar" name="rating">
                                    <label for="fourstar">
                                        <i></i>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star gray"></span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="threestar" name="rating">
                                    <label for="threestar">
                                        <i></i>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star gray"></span>
                                        <span class="icon-star gray"></span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="twostar" name="rating">
                                    <label for="twostar">
                                        <i></i>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star gray"></span>
                                        <span class="icon-star gray"></span>
                                        <span class="icon-star gray"></span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="onestar" name="rating">
                                    <label for="onestar">
                                        <i></i>
                                        <span class="icon-star"></span>
                                        <span class="icon-star gray"></span>
                                        <span class="icon-star gray"></span>
                                        <span class="icon-star gray"></span>
                                        <span class="icon-star gray"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Products Style1 Single Sidear -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product End-->
