@using LuisCorreiaOsteopata.WEB.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager

@{
    var loggedUser = await _userManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section MainMenu
{
    <partial name="_Menu"></partial>
}

<section class="service-details" id="home">
    <div class="container">
        <div class="row">
            <div class="service-details__content">
                <h3 class="service-details__title-1">
                    Bem-vindo, @loggedUser?.Names.Split(' ')[0]
                </h3>                
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-xl-10 col-lg-7">
            <div class="view-appointment__left">
                <h3 class="view-appointment__title">Vê as tuas consultas</h3>
                <div class="form-group row">    
                    @if (ViewBag.RemainingCredits != null && User.IsInRole("Utente"))
                    {
                        <label style="font-size: 1.2rem" class="mt-2">
                            <strong>Consultas disponíveis por marcar:</strong> @ViewBag.RemainingCredits
                        </label>
                    }
                    <form method="post" asp-controller="Google" asp-action="SavePreferredCalendar">
                        @if (ViewBag.Token == null)
                        {
                            <a asp-controller="Google" asp-action="LinkGoogleCalendar" class="btn btn-danger">
                                <i class="fab fa-google"></i> Conectar ao Google Calendar
                            </a>
                        }
                        else
                        {
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <label style="font-size: 1.2rem" class="col-form-label pe-1">                                        <strong>
                                            Calendário do Google Calendar:
                                        </strong>
                                        @(string.IsNullOrWhiteSpace(ViewBag.CalendarId) ? "Calendário não escolhido" : ViewBag.CalendarName)
                                    </label>

                                </div>

                                <div class="col-auto">
                                    <div class="cart-page__buttons cart-page__buttons-1">
                                        <button type="submit" class="thm-btn" id="calendarButton">
                                            @if (string.IsNullOrWhiteSpace(ViewBag.CalendarId))
                                            {
                                                @:Definir calendário
                                            }
                                            else
                                            {
                                                @:Alterar Calendário Selecionado
                                            }
                                            <span class="icon-right-arrow"></span>
                                        </button>
                                    </div>
                                </div>

                                <input type="hidden" name="CalendarId" id="hiddenCalendarId" value="@ViewBag.CalendarId" />
                            </div>
                        }

                    </form>
                    <div class="mt-2" id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Selecionar Calendário</h4>
                <button type="button" class="close" data-bs-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Seleciona o calendário Google para as consultas:</label>
                    <div class="col-auto">
                        <select id="modalCalendarSelect" class="form-control">
                            <option value="">-- Selecionar calendário --</option>
                            @foreach (var cal in ViewBag.GoogleCalendars)
                            {
                                if (ViewBag.CalendarId == cal.Value)
                                {
                                    <option value="@cal.Value" selected>@cal.Text</option>
                                }
                                else
                                {
                                    <option value="@cal.Value">@cal.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnYes">Confirmar</button>
                <button type="button" class="btn btn-danger" id="btnNo">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function()
        {
            var calendarEl = document.getElementById('calendar');
            var calendarEvents = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.Appointments));

            var calendar = new FullCalendar.Calendar(calendarEl,
            {
                initialView: 'dayGridMonth',
                locale: 'pt',
                events: calendarEvents,
                headerToolbar:
                {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventClick: function(info)
                {
                    var appointmentId = info.event.id;
                    window.location.href = '/Appointment/Details/' + appointmentId;
                }
            });

            calendar.render();

            const confirmDialogEl = document.getElementById('confirmDialog');
            const confirmDialog = new bootstrap.Modal(confirmDialogEl);

            const calendarButton = $("#calendarButton");
            const btnYes = $("#btnYes");
            const btnNo = $("#btnNo");
            const modalSelect = $("#modalCalendarSelect");
            const hiddenInput = $("#hiddenCalendarId");

            calendarButton.click(function (e) {
                e.preventDefault();
                confirmDialog.show();
            });

            btnYes.click(function () {
                hiddenInput.val(modalSelect.val());;
                confirmDialog.hide();
                calendarButton.closest("form").submit();
            });

            btnNo.click(function () {
                confirmDialog.hide();
            });
        });
    </script>
}
}
